<?xml version="1.0" encoding="utf-8"?><x:xmpmeta xmlns:x="adobe:ns:meta/"><rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><rdf:Description rdf:about="" xmlns:xmp="http://ns.abobe.com/xap/1.0/"><xmp:CreatorTool>Atalasoft DotAnnotate 11.1</xmp:CreatorTool><xmp:CreateDate><![CDATA[2020-05-14T09:05:45]]></xmp:CreateDate></rdf:Description><rdf:Description rdf:about="DotAnnotate Annotations" xmlns:xmp="http://ns.abobe.com/xap/4.0/"><DocumentResolution>1,1</DocumentResolution><LayerDataCollection /></rdf:Description></rdf:RDF></x:xmpmeta>